body{
    background-color: rgb(167, 144, 49);
    font-family: Arial, sans-serif;
}

/* COMMON  */

img {
    max-width: 100%;
}

a{
    text-decoration: none;
    color: inherit;
}

ul{
    padding-left: 0;
}

ul li{
    list-style-type: none;
}


/* Utilities  */


.big_game_card h2{
    font-weight: 600;
    padding-top: 10rem;
    margin-bottom: 1.5rem;
    color: white;
}

.big_game_card p{
    font-size: 0.8rem;
    font-weight: 600;
    color: white;
}

.reusable_card h2{
    font-weight: 600;
    margin-bottom: 1rem;
}

.reusable_card p{
    color: #787878;
}

/* buttons  */

.ms_btn{
    color: white;
    background-color: black;
    padding: 0.5rem 0.7rem;
    border-radius: 1.2rem;
}

.ms_btn.ms_common{
    display: inline-block;
    color: white;
    background-color: #363636;
    padding: 0.3rem 0.7rem;
    border-radius: 1.2rem;
    font-size: 0.8rem;
    font-weight: 600;
}


.ms_btn.ms_common.blue_btn{
    background-color: #2d64e6;
}


/* ||||||||||||  HEADER  |||||||||||||||||||||||| */


header{
    font-family: Helvetica, arial, sans-serif;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
    
}

/* top header  */

.top_header{
    background-color: black;
    height: 1.8rem;
    width: 100%;
}

.sony_logo_container{
    height: 100%;
    text-align: end;
    padding: 0 0.5rem;
}

.sony_logo_container img{
    height: 30%;
   }
   
   /* bottom header  */

   /* menu di link nascosto per xs - sm  */

   .bottom_header{
       height: 3rem;
       background-color: white;
   }

   .bottom_header_content {
       height: 100%;
   }

   .play_logo_container{
       padding-left: 0.5rem;
       padding-right: 0.7rem;
   }

   .play_logo_container img{
    height: 100%;
}

   .main_menu{
       display: none;
       height: 100%;
       align-items: last baseline;
   }

   .main_menu ul li{
       font-size: 0.8rem;
       font-weight: 600;
       margin-right: 1rem;
   }

   .main_menu ul li .chevron{
    height: 0.5rem;
    margin-left: 0.5rem;
   }

   img.chevron{
    height: 0.5rem;
   }

   .main_menu ul li .ms_lens{
    height: 1rem;
    padding-bottom: 0.1rem;
   }

.hamburger_menu{
    padding: 0 1rem;
}

.hamburger_menu_container{
    align-items: center;
    height: 3rem;
}

.hamburger_menu a i{
    font-size: 1.4rem;
}


/* |||||||||||||||||||| MAIN |||||||||||||||||||||||    */

  /* jumbotron  */
  
  main{
      margin-top: 4.8rem;
  }

  .ms_jumbotron_container{
      background-image: url(../img/returnal-listing-thumb-01-ps5.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 90%;
      margin-bottom: 1rem;
      position: relative;
      z-index: -1;
  }

  .ms_overlay{
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: black;
      opacity: 0.1;
      z-index: -1;
  }

  .big_game_card .ms_btn.ms_common{
      background-color: red;
      margin-bottom: 2rem;
  }

  /* small cards  */

  .small_game_card {
      margin: 0.5rem 0;
  }

 .small_game_card .img_container img{
     border-radius: 1rem;
 }

 .small_game_card .blue_frame{
    outline: 3px solid blue;
    border-radius: 0.9rem;
    outline-offset: 3px;
 }

  /* console reveal  */

 .console_reveal_container .reusable_card h3{
     text-transform: uppercase;
     font-size: 0.7rem;
     color: blue;
     margin-top: 5rem;
 }

 /* console playstation  */

 .console_playstation_container .reusable_card h2{
     margin-top: 3rem;
 }

 .console_playstation_container .reusable_card .ms_btn{
     margin-bottom: 1rem;
 }


/* SM */

@media screen and (min-width:  576px) {

    body{
        background-color: GREEN;
    }

    








   /* MD  */
@media screen and (min-width:  768px) {

    body{
        background-color: PURPLE;
    }

     /* console playstation  */

 .console_playstation_container .reusable_card h2{
     margin-top: 0;
 }

 .console_playstation_container .reusable_card .ms_btn{
     margin-bottom: 0;
 }

 

}

/* LG */

@media screen and (min-width:  992px) {

    body{
        background-color: rgb(13, 232, 13);
    }

    /* jumbotron  */

    .big_game_card h2{
        padding-top: 15rem;
    }
    

    
    /* ||||||| HEADER  ||||||||   */
      
   .main_menu{
    display: flex;
   }

    .hamburger_menu{
        display: none;
    }


/* LG */

@media screen and (min-width:  1200px) {

        /* jumbotron  */

        .big_game_card h2{
            padding-top: 20rem;
        }
        










