body{
    background-color: rgb(167, 144, 49);
    font-family: Arial, sans-serif;
}

/* COMMON  */

img {
    max-width: 100%;
}

a{
    text-decoration: none;
    color: inherit;
}

ul{
    padding-left: 0;
}

ul li{
    list-style-type: none;
}

section{
    padding-bottom: 1rem;
}


/* Utilities  */


.big_game_card h2{
    font-weight: 600;
    /* padding-top: 10rem; */
    margin-bottom: 1.5rem;
    color: white;
}

.big_game_card p{
    font-size: 0.8rem;
    font-weight: 600;
    color: white;
}

.reusable_card h2{
    font-weight: 600;
    margin-bottom: 1rem;
}

.reusable_card p{
    color: #787878;
}

/* buttons  */

.ms_btn{
    color: white;
    background-color: black;
    padding: 0.5rem 0.7rem;
    border-radius: 1.2rem;
}

.ms_btn.ms_common{
    display: inline-block;
    color: white;
    background-color: #363636;
    padding: 0.3rem 0.7rem;
    border-radius: 1.2rem;
    font-size: 0.8rem;
    font-weight: 600;
}


.ms_btn.ms_common.blue_btn{
    background-color: #2d64e6;
}


/* ||||||||||||  HEADER  |||||||||||||||||||||||| */


header{
    font-family: Helvetica, arial, sans-serif;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
    
}

/* top header  */

.top_header{
    background-color: black;
    height: 1.8rem;
    width: 100%;
}

.sony_logo_container{
    height: 100%;
    text-align: end;
    padding: 0 0.5rem;
}

.sony_logo_container img{
    height: 30%;
   }
   
   /* bottom header  */

   /* menu di link nascosto per xs - sm  */

   .bottom_header{
       height: 3rem;
       background-color: white;
   }

   .bottom_header_content {
       height: 100%;
   }

   .play_logo_container{
       padding-left: 0.5rem;
       padding-right: 0.7rem;
   }

   .play_logo_container img{
    height: 100%;
}

   .main_menu{
       display: none;
       height: 100%;
       align-items: last baseline;
   }

   .main_menu ul li{
       font-size: 0.8rem;
       font-weight: 600;
       margin-right: 1rem;
   }

   .main_menu ul li .chevron{
    height: 0.5rem;
    margin-left: 0.5rem;
   }

   img.chevron{
    height: 0.5rem;
   }

   .main_menu ul li .ms_lens{
    height: 1rem;
    padding-bottom: 0.1rem;
   }

.hamburger_menu{
    padding: 0 1rem;
}

.hamburger_menu_container{
    align-items: center;
    height: 3rem;
}

.hamburger_menu a i{
    font-size: 1.4rem;
}


/* |||||||||||||||||||| MAIN |||||||||||||||||||||||    */

  /* jumbotron  */
  
  main{
      margin-top: 4.8rem;
  }

  .ms_jumbotron_container{
      background-image: url(../img/returnal-listing-thumb-01-ps5.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position-x: 90%;
      margin-bottom: 1rem;
      position: relative;
      z-index: 0;
  }

  .ms_overlay{
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: black;
      opacity: 0.2;
      z-index: -1;
  }

  .big_game_card .ms_btn.ms_common{
      background-color: red;
      margin-bottom: 2rem;
  }

  .big_game_card a{
    z-index: 20;
    cursor: pointer;
}

.big_game_card .img_container{
    width: 50%;
    margin-top: 5rem;
    margin-bottom: 1rem;
}


  /* small cards  */

  .small_game_card {
      margin: 0.5rem 0;
      padding-bottom: 1rem;
  }

 .small_game_card .img_container img{
     border-radius: 1rem;
 }

 .small_game_card img:hover{
    outline: 3px solid blue;
    border-radius: 0.9rem;
    outline-offset: 3px;
    cursor: pointer;
 }

  /* console reveal  */

 .console_reveal_container .reusable_card h3{
     text-transform: uppercase;
     font-size: 0.7rem;
     color: blue;
     margin-top: 2.5rem;
 }

 /* console playstation  */

 .console_playstation_container .reusable_card h2{
     margin-top: 3rem;
 }

 .console_playstation_container .reusable_card .ms_btn{
     margin-bottom: 1rem;
 }

 /* console pictures  */

 .console_pictures_container .col_container{
     margin-top: 0.5rem;
 }

 .console_pictures_container .col_container h5{
     display: none;
     font-size: 0.8rem;
     font-weight: 600;
 }

 .console_pictures_container .col_container img:hover{
    border-bottom: 4px solid blue;
    margin-bottom: -4px;
    cursor: pointer;
}

 /* it takes two   */

 .it_takes_two_container{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 50%;
    margin-bottom: 1rem;
    position: relative;
    z-index: 0;
}

#it_takes_two{
    padding-bottom: 0;
}

.it_takes_two_container .big_game_card .img_container{
    width: 50%;
    margin-bottom: 3rem;
    margin-top: 2rem;
}


/* nuove uscite  */



.new_releases_text h3{
    font-size: 1.2rem;
    font-weight: 600;
}

.new_releases_text h4{
    font-size: 0.8rem;
    font-weight: 600;
}

.small_game_card h5{
    margin-top: 0.5rem;
    font-size: 0.9rem;
    font-weight: 600;
}

/* esplora playstation  */

.registered_trademark{
    font-size: 0.6rem;
    vertical-align: super;
}

/* play station plus  */

.playstation_plus_container {
    background-color: #bebcbb
    ;
}

.playstation_plus_container .img_container{
    width: 60%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.playstation_plus_container h3{
    font-size: 1rem;
    margin-bottom: 1.5rem;
}

.playstation_plus_container .pp_img_container{
    display: none;
}

.playstation_plus_container .ms_btn{
    margin-bottom: 2rem;
}

/* new promos  */

.new_promos_container h2{
    margin-top: 1rem;
}


.new_promos_container p{
    margin-bottom: 2rem;
}

/* //////////////// SM /////////////////  */

@media screen and (min-width:  576px) {

    body{
        background-color: GREEN;
    }

    








   /* /////////////////////// MD /////////////////// */
@media screen and (min-width:  768px) {

    body{
        background-color: PURPLE;
    }

    /* jumbotron  */

    .big_game_card .img_container{
        width: 80%;
        margin-bottom: 2rem;
        margin-top: 5rem;
    }

    /* it takes two   */

    .it_takes_two_container .big_game_card .img_container{
        width: 80%;
        margin-bottom: 3rem;
        margin-top: 2rem;
    }

     /* console playstation  */

    .console_playstation_container .reusable_card h2{
        margin-top: 0;
    }

    .console_playstation_container .reusable_card .ms_btn{
        margin-bottom: 0;
    }

    /* console picutres   */

    .console_pictures_container .col_container h5{
        display: block;
        font-size: 0.8rem;
        font-weight: 600;
    }

    /* playstatio plus  */


    .playstation_plus_container .pp_img_container{
        display: block;
    }

    .playstation_plus_container .img_container{
        margin-top: 0rem;
        margin-bottom: 1rem;
    }

    .playstation_plus_container h3{
        margin-bottom: rem;
    }


    .playstation_plus_container .ms_btn{
        margin-bottom: 0rem;
    }


}

/* //////////////// LG /////////////////////  */

@media screen and (min-width:  992px) {

    body{
        background-color: rgb(13, 232, 13);
    }

    /* jumbotron  */

    /* .big_game_card h2{
        padding-top: 15rem;
    }
     */

    
    /* ||||||| HEADER  ||||||||   */
      
   .main_menu{
    display: flex;
   }

    .hamburger_menu{
        display: none;
    }

}